@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.category-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .category-content {
    width: 55%;
    padding-top: 1em;
    text-align: center;
    color: $welcome-text;
  }

  .category-text {
    font-size: 20px; 
    font-weight: bold;
    margin: 2em;

    @include tablet {
      font-size: 16px; 
    }

    @include desktop {
      font-size: 24px;
    }
  }

  .genre-list {
    padding: 0;
    margin: 0;
    font-size: 1.2em; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em; 

    @include tablet {
      font-size: 1em;
    }

    @include desktop {
      font-size: 1.3em;
    }
  }

  .genre-item {
    cursor: pointer;
    background-color: $card-background-color; 
    color: $welcome-text; 
    padding: 0.4em;
    border-radius: 100px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1em; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
