$header-footer-background: #eeeeee;
$separator-color: #333;
$home-page-background: #FFFDC7;
$blue-background: #D6EEF7;
$welcome-text: #333;
$white-color: #fff;
$button-background-color: #E6E6E6;
$button-text-color: #333;
$button-choices-color: #BCDFF1;
$card-background-color: #E6E6E6;