//------------------------mixin for-size:
$tablet: 768px;
$desktop: 1280px;

//breakpoints--------:

$breakpoint-tablet-min: 768px;
$breakpoint-tablet-max: 1279px;
$breakpoint-desktop: 1280px;

// 

$button-border-radius: 30px;