@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    text-align: center; 
}

.welcome-text {
    font-size: 2em;
    margin-bottom: 1em;
}

.welcome-button {
    font-size: 1em;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: $button-border-radius;
    background-color: $button-background-color;
    color: $button-text-color; 
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth color transition */
    
    &:hover {
        color: $white-color;
        background-color: #0056b3; /* Darker color on hover */
    }
}
