@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;


.random-movie {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1em;
  border-radius: 10px;
  max-width: 100%;
  
  h2 {
    font-size: 1.8em;
    margin-bottom: 1.8em;
  }

  .movie-details {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;

    .movie-poster {
      width: 100%;
      max-width: 300px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .movie-info {
      p {
        display: flex;
        padding: 1rem;
        align-items: flex-start;
        justify-content:flex-start;
        font-size: 1em;
        margin: 0.5em 0;
        color: #333;

        svg {
          margin-right: 0.5em;
          color: #555;
        }

        a {
          color: #007bff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .refresh-button {
    margin-top: 2rem;
    font-size: 1em;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: $button-border-radius;
    background-color: $button-background-color;
    color: $button-text-color; 
    cursor: pointer;
    transition: background-color 0.3s; 
    
    &:hover {
        color: $white-color;
        background-color: #0056b3;
    }
  }

  @include tablet {
    .movie-details {
      flex-direction: row;
      align-items: flex-start;
      .movie-info {
        text-align: left;
        p {
          font-size: 1em; 
        }
      }
    }
  }

  @include desktop {
    .movie-details {
      .movie-info {
        p {
          font-size: 1.1em; 
        }
      }
    }
  }
}
