@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.movie-list {
  margin: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;

  .pagination-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    button {
      padding: 0.5em 1.5em;
      margin: 0 0.5em;
      border: none;
      border-radius: 50px;
      background-color: $primary-color;
      color: $white-color;
      font-size: 1em;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;

      &:hover:not(:disabled) {
        background-color: darken($primary-color, 10%);
        transform: translateY(-2px);
      }

      &:disabled {
        background-color: lighten($primary-color, 20%);
        cursor: not-allowed;
      }
    }

    span {
      margin: 0 1em;
      font-size: 1em;
      color: $text-color;
    }
  }
}

.movie-card {
  background-color: $white-color;
  padding: 1em;
  border-radius: 15px;
  width: 250px;
  height: 350px;
  text-align: center;
  color: $primary-text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    object-fit: cover;
  }

  .movie-title {
    margin-top: 0.5em;
    font-size: 1em;
    font-weight: bold;
  }

  .movie-release-date {
    margin-top: 0.5em;
    font-size: 0.9em;
    color:$primary-text-color;
  }

  .movie-description {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: $primary-text-color;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
