@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.movie-list {
  background-image: url('../../assets/images/mobile-background-category.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
 
  @include tablet {
    background-image: url('../../assets/images/pick-category-background.png');
    background-size: cover;

  }

  @include desktop {
    background-image: url('../../assets/images/pick-category-background.png');
    background-size: cover;

  }
}

.movie-card {
  background-color: $movie-card-background;
  width: 70%;
  height: 100px;
  margin: 1.5rem;

  .movie-details {

    .movie-title {
 
      &::after {
        content: " (" attr(data-release-date) ")";
        font-size: 1em;
        color: gray;
      }
    }

    .movie-description {

    }
  }

  @include tablet {
  }

  @include desktop {
  }
}
