@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;

.header {
    position: relative;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 2em;
    color: $separator-color;
    margin: 0;
}

.separator {
    border: 0;
    height: 1px;
    background: $separator-color;
    width: 100%;
    margin-top: 1em;
}

@include tablet {
    .header-content {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0 2em;

        .logo {
            margin-right: auto;
        }
    }
}

@include desktop {
    .header-content {
        padding: 0 4em;
    }
}