@use "./styles/partials/variables" as *;
@use "./styles/partials/breakpoints" as *;

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content {
    flex: 1;
    background-image: url('./assets/images/home page.svg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    
    @include tablet {
        padding: 1.5em;
        background-size: cover;
    }
    
    @include desktop {
        padding: 2em;
        background-size:cover;
    }
}
